<a href="https://colab.research.google.com/github/aayushjanardh/Python-Basics/blob/main/YOOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=input("Enter Travel Source ")
y=input("Enter Travel Destination ")
z=int(input("Number Of Passengers "))
print(x,y,z)

Enter Travel Source Trivandrum
Enter Travel Destination Ernakulam
Number Of Passengers 2
Trivandrum Ernakulam 2

In [9]:
y=int(input("Enter total ticket fare"))
x=int(input("Enter number of passengers"))
a=y/x
print("TICKET FARE PER PERSON",a)

Enter total ticket fare4000
Enter number of passengers50
TICKET FARE PER PERSON 80.0

In [12]:
x=input("Enter your name ")
y=int(input("Ticket price "))
print("Passenger",x,"Ticket Fare",y)

Enter your name Aayush
Ticket price 300
Passenger Aayush Ticket Fare 300

In [16]:
x=int(input("Total ticket fare "))
if x>10000:
  print("Eligible for discount")

Total ticket fare 200000
Eligible for discount

In [17]:
x=int(input("Total ticket fare "))
if x>15000:
  print("Eligible for 20% discount")
else:
  print("Eligible for 10% discount")

Total ticket fare 30000
Eligible for 20% discount

In [39]:
x=int(input("Total ticket fare "))
if x>=15000:
 a=x*20/100
 print('Discounted fare',x-a)
if x>10000 and x<15000:
  b=x*15/100
  print('Discounted fare',x-b)
if x<=10000:
  c=x*10/100
  print('Discounted fare',x-c)

Total ticket fare 9000
Discounted fare 8100.0

In [40]:
x=int(input("Enter a number"))
if x>0:
  print("Number is positive")
elif x<0:
  print("Number is negative")

Enter a number10
Number is positive

In [44]:
x=int(input("Enter a number"))
if x>18:
  print("Adult")
elif x>13 and x<19:
  print("Teenager")
elif x>6 and x<12:
  print("kid")
elif x>2 and x<5:
  print("toddler")
elif x<2:
  print("infant")

Enter a number7
kid

In [51]:
x=input("Enter your initial ")
if x in ('a','e','i','o','u'):
  print("vowel")
else:
  print("not vowel")

Enter your initial a
vowel

In [52]:
x=input("ENTER YOUR NAME ")
for i in x:
  print(i)

ENTER YOUR NAME aayush
a
a
y
u
s
h

In [54]:
for a in range(44,89,2):
  print(a)

44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88

In [65]:
a=0
for i in range(1,11):
  a=a+i
  print(a)

1
3
6
10
15
21
28
36
45
55

In [67]:
a=while(aayush,17):
  print(a)

SyntaxError: ignored